* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
}



/**UTILITIES**/

.container {
    max-width: 600px;
    margin: 20px 50px;
}

header {
    background-color: #F8F9FA;
    height: 60px;
    display: flex;
    align-items: center;


    h1 {
        margin: 0px;
    }
}

button {
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px 8px;
    margin: 0px 10px 10px 0px;
    cursor: pointer;

    &:hover {
        background-color: blue;
    }



    &.active {
        color: black;
        background-color: #4D9A43;

        &.HTML {

            background-color: #DD4B24;
        }

        &.CSS {
            background-color: #254BDF;
        }

        &.JavaScript {
            background-color: #FFC107;
        }

        &.Express {
            background-color: #EEEEEE;
        }

        &.ReactJS {
            background-color: #5ED4F3;
        }
    }
}

.card {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 8px;

    h3 {
        margin: 5px 0;
    }
}